extends layout

block content
  h1= data["name"]


  p Type  
  h3= data["type"]
  p Trainer
  button
    a(href="/trainers/#{data['trainer_id']}") #{data["trainer_name"]}

  form(method="get" action="/pokemon/#{pokeID}/edit")
      input(type="submit" value="Edit Pokemon")
  form(method="post" action="/pokemon/#{pokeID}/delete")
    input(type="submit" value="Delete Pokemon")
